comment.cut
rec-def-*-anonym.tar.gz
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lhs_out
*.log
*.out
*.pdf
*.ptb
*.synctex.gz
*.tex.bak
*.aux
texput.fls
texput.log

aec/image
aec/base-image.tar.xz

http_cache.sqlite
dblp.bib
