comment.cut
rec-def-*-anonym.tar.gz
rec-def-pearl.bbl
rec-def-pearl.blg
rec-def-pearl.fdb_latexmk
rec-def-pearl.fls
rec-def-pearl.lhs_out
rec-def-pearl.log
rec-def-pearl.out
rec-def-pearl.pdf
rec-def-pearl.ptb
rec-def-pearl.synctex.gz
rec-def-pearl.tex.bak
texput.fls
texput.log

aec/image
aec/base-image.tar.xz
